*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    text-align: center;
    background-color: lightblue;
}
header{
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 3.5px;
    text-align: center;
    padding: 30px 0 60px;
}
nav{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0 40px;
    justify-content: space-between;
}
img{
    max-width: 100%;
    min-width: 768px;
}